/* タブレット向けレイアウト */
@media all and (max-width: 1000px) {
    .left-wrapper {
      display: none;
    }

    .contents-wrapper {
      margin-left: 0px;
    }

    .profile-text {
      padding: 0% 20%;
      line-height: 25px;
      letter-spacing: 4px;
    }

    .profile, .skills, .works {
      font-size: 15px;
    }

    .heading {
      font-size: 35px;
      padding-top: 15%;
    }

    .first-view .sns{
      margin-top: 100px;
      text-align: center;
      display: block;
    }

    .work img {
      width: 200px;
    }
  }
}