/* --- 共通 --- */
* {
    box-sizing: border-box;
}

.clear {
    clear: left;
}

body {
  margin: 0;
  max-width: 1920px;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
}

/* 左メニュー */
#left-wrapper {
  height: 100%;
  width: auto;
  padding: 20px 100px;
  border-right: 1px solid lightgrey;
  position :fixed;
}

.logo {
  width: 200px;
}

#link-wrapper {
  margin-top: 100px;
}

.twitter {
  color: #55acee;
}

.github {
  margin-left: 30px;
  color: black;
}

.twitter, .github {
  font-size: 25px;
}

/* 右側のコンテンツ */
#contents-wrapper {
  margin-left: 400px;
}

.container {
  padding: 20px 100px;
  min-height: 200px;
}

#self-introduction {
  border-bottom: 1px solid lightgrey;
}

#skill {
  border-bottom: 1px solid lightgrey;
}

#work {
  border-bottom: 1px solid lightgrey;
}