/* --- 共通 --- */
* {
  margin: 0px;
  box-sizing: border-box;
}

body {
  max-width: 1920px;
  font-family: 'Noto Sans JP', -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
}

a {
  text-decoration: none;
  color: gray;
  transition: all .3s;
}

/* 左メニュー */
.left-wrapper {
  height: 100%;
  width: auto;
  top: 0px;
  left: 0px;
  padding: 0px 100px;
  border-right: 1px solid lightgrey;
  position :fixed;
}

.logo {
  width: 200px;
  padding-top: 100px;
}

.sns {
  margin-top: 30px;
}

.twitter {
  color: #55acee;
}

.github {
  margin-left: 30px;
  color: black;
}

.twitter, .github {
  font-size: 25px;
}

.name {
  padding-top: 30px;
  font-size: 30px;
  color: dimgray;
}

.job-name {
  padding-bottom: 40px;
  color: dimgray;
}

.link {
  padding-top: 20px;
  color: dimgray;
}

/* 右側のコンテンツ */
.contents-wrapper {
  top: 0px;
  margin-left: 400px;
}

.first-view {
  position:relative;
  padding-top: 10%;
  height: 100vh;
  border-bottom: 1px solid lightgrey;
}

.heading {
  font-size: 50px;
  padding-top: 8%;
  text-align:center;
  color: #BF5114;
  font-family: 'Share Tech Mono', monospace, -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
}

.first-view-icon {
  position:absolute;
  font-size: 40px;
  left: 48%;
  bottom: 10%;
  align-content: center;
  color: #BF5114;
}

.contents {
  padding-bottom: 150px;
  border-bottom: 1px solid lightgrey;
}

.profile, .skills, .works {
  padding-top: 80px;
}

.profile-text {
  padding: 0% 30%;
  line-height: 30px;
  letter-spacing: 4px;
  color: dimgray;
}

table {
  color: dimgray;
  margin: 0 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border:1px solid lightgray;
  border-spacing: 0;
  overflow:hidden;
}

td,th {
  width: 5%;
  text-align: center;
  border-bottom: 1px solid lightgray;
  padding: 10px;
}

th {
  background-color:#fff8f8;
}

table tbody tr:last-child th,
table tbody tr:last-child td {
  border-bottom: none;
}

th + th, td {
  border-left: 1px solid lightgray;
}

.work {
  color: dimgray;
  text-align: center;
}

.work img {
  width: 300px;
  border: 1px solid lightgray;
}

.work p {
  padding-top: 10px;
}

footer {
  height: 25px;
  background-color: #BF5114;
}

