#left-wrapper {
  height: 100%;
  width: auto;
  padding: 20px;
  border-right: 1px solid gray;
  top: 0px;
  left: 0px;
  position :fixed;
}

#contents-wrapper {
  margin-left: 400px;
  background-color: red;
}

.logo {
  width: 300px;
}